.todoContent {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem;
  width: 100%;
}

.todoDone {
  background-color: var(--gray-500);
  border: 1px solid var(--gray-500);
  color: var(--gray-300);
  border-radius: 8px;
  text-decoration: line-through;
}

.todoNotDone {
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  color: var(--gray-100);
  border-radius: 8px;
}

.custom-checkbox input {
  display: none;
}

.labelWrapper {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  /* background-color: aliceblue; */
  cursor: pointer !important;
  width: 100%;
}

.labelWrapper label {
  cursor: inherit;
}

.labelTextDone {
  text-decoration: dashed;
}

.labelWrapper input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background: transparent;
  border: 2px solid var(--blue);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  aspect-ratio: 1/1;
  transition: border 0.1s ease-in-out, color 0.15s ease-in-out, opacity 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.labelWrapper input:hover {
  opacity: 0.8;
  background-color: var(--blue-dark);
}

.labelWrapper input:checked {
  border-color: var(--purple);
  background: var(--purple) url("../assets/check.svg") center no-repeat;
  color: var(--gray-100);
}

.todoContent button {
  margin-left: auto;
  padding: 0.313rem;
  line-height: 0;
  border-radius: 4px;
  background-color: transparent;
  color: var(--gray-300);
}

.todoContent button:hover {
  color: var(--danger);
  background-color: var(--gray-400);
}
